@import "header/header";
@import "main/main";
@import "tabs/tabs";
@import "accordion/accordion";
@import "slider/slider";
@import "sale/sale";
@import "jobs/jobs";
@import "why/why";
@import "customers/customers";
@import "cost/cost";
@import "footer/footer";

@font-face{
    font-family: 'Inter Regular';
    src: url(fonts/Inter-Regular.otf);
}

body{
    font-family: 'Inter Regular';
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

@media(max-width: 768px){	
	header{
	
		.menu_big{
			width: 35%;

			.menu{
				margin-left: 15%;
	
				& p:first-child{
					margin-top: 35%;
				}
		
				& a{
					font-size: 2.4vw;
				}
			}
	
		
			& .text_18{
				font-size: 2.4vw;
				margin-left: 15%;
			}
	
			.icon_1{
	
				& i{
					font-size: 3vw;
				}
		
				& i:first-child{
					margin-left: 15%;
				}
		
				& i:first-child, & i:nth-of-type(2), & i:nth-of-type(3){
					margin-right: 7.5%;
				}
			}
		}
	
		.burger__icon{
			width: 3.5vw;
			height: 2.5vw;
		}

		
		
		.logo_1{
	
			& img{
				width: 12vw;
			}
		}
	
	
	
		//Модальное окно
		.phone{
		
			& p:first-child{
				font-size: 2vw;
			}
		
			#open-modal__btn{
				font-size: 1.8vw;
			}
		}
		
		.modal__content {
	
			.text_10{
				font-size: 3.3vw;
			}
	
			& span{
				font-size: 2vw;
			}
	
			.modal__close{
				font-size: 3.8vw;
			}
	
			.label_1, .label_2{
	
				& input{
					font-size: 2.4vw;
				}
			}
	
			.label_3{
	
				.text_11{
					font-size: 1.6vw;
				}
	
				& select, & option{
					font-size: 2.4vw;
				}
			}
	
			.send{
				font-size: 2vw;
			}
	
			.protection_policy{
				font-size: 2vw;
	
				.orange{
					font-size: 2vw;
				}
			}
		}
	}
















	.main{
		
		& p:first-child{
			font-size: 4.1vw;
		}
	
		& p:nth-of-type(2){
			font-size: 2.4vw;
		}
	
		& p:nth-of-type(3){
			font-size: 2vw;
			font-weight: 400;
		}
	}










	.principled_approach{
		display: none;
	}

	.accordion{
		display: block;
	}











	.photo_with_slider{
	
		& .text_21{
			font-size: 3.3vw;
		}
	
		& .text_22{
			font-size: 2vw;
		}
	
		& .slider {
			
			& .slider__container {
		
				& .slider__nav-left {
					font-size: 2vw;
				}
				& .slider__nav-right {
					font-size: 2vw;
				}
			}
		
			& .slider__controls {
				left: 45%;
				bottom: 0%;
			
				& .slider__dots {
			
					& .slider__dot {
						width: 1.5vw;
						height: 1.5vw;
					}
	
					.slider__dot.activ{
						width: 6vw;
						height: 1.5vw;
					}
				}
			}
		}

		.slider_block{
		
			& .slider_elem1{
		
				& .text_19{
					font-size: 2vw;
				}
		
				& .slider_elem2{
		
					& .text_20{
						font-size: 2vw;
					}
		
					& .slider_elem3{
		
						& .slider_elem4{
		
							& p:first-child{
								font-size: 2vw;
							}
		
							& p:last-child{
								font-size: 2vw;
							}
						}
					}
				}
			}
		}
	}
















	.sale{
	
		.text_3{
			font-size: 3.3vw;
		}
	
		.text_4{ 
			font-size: 2.4vw;
		}
	
		.sale_elem1{
			display: flex;
			flex-direction: column;
	
			.sale_elem2, .sale_elem3{
	
				& p:first-child{
					font-size: 2vw;
				}
	
				& p:last-child{
					font-size: 3.3vw;
				}
			}
	
			.sale_elem3{
				margin-left: 0;
				margin-top: 5%;
			}
		}
	}










	.jobs{
	
		.jobs_container{
	
			.list{
				margin-bottom: 10%;
				
				& p{
					font-size: 2vw;
				}
			}
	
			.jobs_blocks{
				display: grid;
				grid-template-columns: repeat(1, 1fr);
				row-gap: 1.5%;
	
				& .blocks__item{
	
					& .jobs_text{
	
						& p{
							font-size: 2.4vw;
						}
					}
	
					& .text_5{
						font-size: 2vw;
						margin-top: -1%;
					}
	
					& .text_6{ 
						font-size: 2vw;
					}
				}
			}
		}
	}

	













	.why{
		font-size: 3.3vw;
		margin-top: 20%;
	}










	.customers{
	
		.customers_elem1{
	
			& p:first-child{
				font-size: 3.3vw;
			}
	
			& p:last-child{
				font-size: 2vw;
			}
		}
	
		.customers_elem3, .customers_elem4{
	
			& .icon_2, & .icon_3{
				left: 47.5%;
				top: 40%;
				font-size: 5vw;
			}
		}

		.customers_elem6{
			font-size: 2.4vw;
		}
	}













	.cost{
	
		.text_12{
			font-size: 3.3vw;
		}
	
		.cost_block{
	
			.cost_content{
				
				.cost_text{
					display: flex;
					flex-direction: column;
		
					.cost_content_elem1{
		
						.text_13{
							font-size: 2vw;
						}
		
						.cost_label{
							margin-top: -2%;
	
							& p{
								font-size: 2.4vw;
							}
	
							& input{
								font-size: 2.4vw;
								width: 30%;
							}
						}
					}
		
					.cost_content_elem2{
						margin-right: 0%;
						margin-left: 5%;
						margin-top: 5%;
		
						.text_14{
							font-size: 2vw;
						}
		
						.cost_content_elem3{
		
							& p{
								font-size: 2.4vw;
								margin-right: 5%;
							}
		
							& p:first-child{
								font-size: 1.6vw;
							}
		
							& p:last-child{
								margin-right: 0;
							}
						}
					}
		
					.cost_content_elem4{
						margin-left: 5%;
						margin-top: 5%;
		
						.text_15{
							font-size: 2vw;
						}
		
						.cost_content_elem5{
		
							& p{
								font-size: 2.4vw;
								margin-right: 5%;
							}
						}
					}
				}
			}
		}
	
		.cost_buttons{
			margin-top: 5%;
	
			& p:first-child, & p:nth-of-type(2), & p:last-child{
				font-size: 2vw;
			}
		}
	}







	footer{
	
		.footer_main{
	
			.text_7{
				font-size: 2vw;
			}
		
			.text_8, .text_9{
				font-size: 2.4vw;
			}
		
			.footer_elem1{
		
				& p:first-child{
					font-size: 3.3vw;
				}
		
				& p:last-child{
					display: none;
				}
			}
		}
	
		.icon{
	
			& i{
				font-size: 3vw;
			}
		}
	
		.footer_menu{
			flex-direction: column;
			margin-top: 5%;
	
			& p{
				font-size: 2.25vw;
				font-weight: 200;
			}
		}
	
		.hr{
			margin-top: 5%;
	
			& hr{
				color: #999999;
			}
		}
	
		.footer_down{
			flex-direction: column;
	
			.logo{
				margin-bottom: 2.5%;
	
				& img{
					width: 15vw;
				}
			}
	
			& p{
				margin-left: 5%;
				font-size: 2vw;
			}
	
			& p:last-child{
				margin-left: 5%;
				margin-top: 5%;
			}
		}
	}
}
