.sale{
    display: flex;
    flex-direction: column;
    margin-top: 2.5%;

    .text_3{
        font-weight: 700;
        font-size: 2.5vw;
    }

    .text_4{
        color: #F05A26;  
        font-size: 1.6vw;
        font-weight: 100;
        text-decoration: underline;
        text-underline-position: under;
        text-decoration-thickness: 1px;
        margin-top: -0.1%;
    }

    .sale_elem1{
        display: flex;
        flex-direction: row;

        .sale_elem2, .sale_elem3{

            & p:first-child{
                font-size: 1.2vw;
                font-weight: 100;
                margin-top: -1%;
            }

            & p:last-child{
                font-size: 2.5vw;
                font-weight: 400;
                margin-top: -1%;
            }
        }

        .sale_elem3{
            margin-left: auto;
            margin-right: 15%;
        }
    }
}