.accordion{
    display: none;
    margin-top: 2.5%;
    margin-bottom: 2.5%;

    & .text_16{
        font-size: 3.3vw;
        font-weight: 700;
    }
	
    & .contentBx{
        position: relative;
        margin-bottom: 2.5%;

        & .label{
            position: relative;
            padding: 10px;
            background: #F0EEEE;
            color: black;
            cursor: pointer;
            font-size: 2vw;
            font-weight: 400;
            text-align: center;
        }

        & .label.active{
            position: relative;
            padding: 10px;
            background: #F05A26;
            color: white;
            cursor: pointer;
            font-size: 2vw;
            font-weight: 400;
            text-align: center;
        }

        & .label::before{
            content: '+';
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            font-size: 1.5em;
        }

        & .content{
            position: relative;
            background: white;
            height: 0;
            overflow: hidden;
            transition: 0.5s;
            overflow-y: auto;

            & .accordion_elem1, & .accordion_elem2, & .accordion_elem3{

                & p:first-child{
                    font-size: 2vw;
                    font-weight: 900;
                }

                & p:last-child{
                    font-size: 2vw;
                    font-weight: 400;
                }
            }

            & .accordion_elem2, & .accordion_elem3{
                margin-top: 5%;
            }

            & .text_17{
                color: #F05A26;  
                font-size: 2.4vw;
                font-weight: 400;
                text-decoration: underline;
                text-underline-position: under;
                text-decoration-thickness: 1px;
                margin-top: 5%;
            }
        }
    }

    & .contentBx.active{

        & .label::before{
            content: '-';
        }

        & .content{
            height: 150px;
	        padding: 10px;
        }
    }
}